
/* CONTACTOS */

.sectionC{
    &__article{
        padding: 18rem 0rem 5rem 0rem;
        background-color: $color-fondo;
        &__div{
            padding:0;
            margin: 0rem auto 5rem;
        }
        &__form{
            width: $size-width;
            background-color: $color-fondo;
            height: 100%;
            border: solid 0.2rem;
            &__h2{
                text-align: center;
                padding-top: 2rem;
                font-weight: 300;
                font-size: 4.5rem;
            }
            &__div{
                margin: 0.5rem 0rem;
                padding: 0rem 3rem;
                &__label{
                    font-size: 2rem;
                    font-weight: lighter;
                }
            }
        }
    }
}

#formGroupExampleInput1{
    width:$size-width;
    height:4rem;
    font-size: 1.5rem;
}
#formGroupExampleInput2{
    width:$size-width;
    height:4rem;
    font-size: 1.5rem;
}
#formGroupExampleInput3{
    width:$size-width;
    height:4rem;
    font-size: 1.5rem;
}
#inputState{
    width:$size-width;
    height:4rem;
    font-size: 1.5rem;
}
#validationTextarea{
    width: 92%;
    height: 10rem;
    margin: 2rem 3rem;
    font-size: 1.5rem;
}
.sectionC__consulta__form__btn a{
    font-size: 1.8rem;
    margin: 2rem;
}
