//--------------------------------------------------
//--------------------------------------------------
                //HEADER
//--------------------------------------------------
//--------------------------------------------------

//--------------------------------------------------
                //SECTOR VIDEO Y FOTO
//--------------------------------------------------
    //PARTE VIDEO Y FOTO
    .index{
        background-image: url(../fotos/Platos/fondoVideo1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height:100%;
        background-color: red;
        padding: 15rem 1rem 0rem 1rem;
        // &__video{
        //     height:90%;
        //     width: auto;
        //     z-index: 4; 
        // }
    }

//--------------------------------------------------
                //SECTOR CARRUSEL
//--------------------------------------------------

    .carrusel{
        background-color:$color-fondo;
        padding: 4rem;
        &__article{
            &__div{
                box-shadow: $color-shadow $size-shadow;
                width: 75%;
            }
        }
    }
    .carrusel__article__div__div__div__div{
        a{
            font-size: 2rem;
            padding: 1rem 5rem;
            border-radius: 0.5rem;
            border: none;
        }
    }


