//--------------------------------------------------
//--------------------------------------------------
                //HEADER
//--------------------------------------------------
//--------------------------------------------------

//--------------------------------------------------
                //SECTOR VIDEO Y FOTO
//--------------------------------------------------
    //PARTE VIDEO Y FOTO
    .index{
        background-image: url(../fotos/Platos/fondoVideo1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: contain;
        height:100vh;
        width: 100vw;
        margin-top: 13rem;
        &__video{
            height:90%;
            width: auto;
            z-index: 4; 
        }
    }

//--------------------------------------------------
                //BOTON DE COMPRAS
//--------------------------------------------------
.botocompra{
    &__button{
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 1.2rem;
        padding: 2rem;
        margin: 2rem 0;
    }
}
//--------------------------------------------------
                //SECTOR CARRUSEL
//--------------------------------------------------

    .carrusel{
        background-color:$color-fondo;
        padding: 4rem;
        &__article{
            &__div{
                box-shadow: $color-shadow $size-shadow;
                width: 75%;
            }
        }
    }
    .carrusel__article__div__div__div__div{
        a{
            font-size: 2rem;
            padding: 1rem 5rem;
            border-radius: 0.5rem;
            border: none;
        }
    }


