//--------------------------------------------------
//--------------------------------------------------
                //NOSOTROS
//--------------------------------------------------
//--------------------------------------------------


.sectionN{
    &__article{
        &__div{
            margin: 18rem 0rem 5rem 0rem;
            img{
                width:$size-width;
            }
        }

        &__div-texto-n{
            margin: 18rem 0rem 5rem 0rem;
            &__h1{
                text-align: center;
            }
        
            &__h2{
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 3rem;
            }
        
            &__p{
                text-align: justify;
                font-size: 1.6rem;
            }
        }
    }
}

