@import"bootstrap";
@import"bootstrap-reboot";
@import"bootstrap-grid";
@import"variable";
@import"header";
@import"index";
@import"footer";
@import"menu";
@import"bebidas";
@import"nosotros";
@import"contactos";
@import"@media";


/* Letra Roboto : font-family: 'Roboto', sans-serif; */
/* Letra Open San : font-family: 'Open Sans', sans-serif; */
/* Paleta de colores:
https://colorhunt.co/palette/169452 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }




